* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #222;
}

div {
  display: inline-grid;
}

.sign-in {
  background: #4683ea;
  border: 0;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  width: 75px;
  height: 30px;
}

li:hover {
  text-decoration: underline;
}

.top-right {
  padding: 0 30 0 30;
}

.top-bar {
  width: 100%;
  align-items: center;
  font-size: small;
}

.main-content {
  margin: auto;
  width: 50%;
}

.search-form {
  border: none;
  width: 500px;
  height: 25px;
}

#microphone {
  height: 24px;
}

#search-bar {

}

#search, #lucky {
  color: rgb(99, 99, 99);
  background-color: rgb(235, 235, 235);
  border: 0;
}